layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="workspace" split_direction="vertical" {
    pane split_direction="horizontal" {
      pane name="terminal"
      pane name="files" {
        command "yazi"
      }
    }
    pane name="editor" {
      command "$EDITOR"
      focus true
    }
    pane name="vcs" {
      command "lazygit"
    }
  }
}
